*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.nrepl-port
.cpcache/
/test/creds.edn
.classpath
.project
.settings/*
.calva
.lsp/*
!.lsp/config.edn
.webly
certs
target/
ci/deps.edn
demo-webly/karma.conf.js
\#*\#
creds.edn
creds-wien.edn
creds-localhost.edn
.clj-kondo/*
!.clj-kondo/config.edn
*~
\#*\#
.\#*
.~*
.letsencrypt
.https/certificates
.gorilla/*.edn
demo/.gorilla/*.edn