{:paths ["src" "resources"]
 :deps {org.clojure/clojure    {:mvn/version "1.11.1"}
        org.pinkgorilla/webserver {:local/root ".." :deps/manifest :deps}}

 :aliases
 {:proxy {:exec-fn  modular.webserver.https.proxy/start-proxy
          :exec-args {:letsencrypt {:domain "test.crbclean.com"
                                    :email "webadmin@crbclean.com"}
                      :https {}}}


  :webserver {:exec-fn  demo.https/run-webserver}

  ; requires java/bouncycastle to be installed.
  ; guix has the package: java-bouncycastle
  ; :get-certificates {:exec-fn  demo.https/get-certificates}


;
  }}


