{:paths ["src" "resources"]
 :deps {org.clojure/clojure    {:mvn/version "1.11.1"}
        org.pinkgorilla/webserver {:local/root ".." :deps/manifest :deps}}

 :aliases
 {:proxy-only {:exec-fn  modular.webserver.https.proxy/start-proxy
               :exec-args {:letsencrypt {:domain "test.crbclean.com"
                                         :email "webadmin@crbclean.com"}
                           :https {}}}

  :http {:exec-fn  demo.webserver/run-webserver
         :exec-args {:http {:port 8080
                            :host "0.0.0.0"}
                     :https {:port 0}}}

  :https {:exec-fn  demo.webserver/run-webserver
          :exec-args {:http {:port 8080
                             :ip "0.0.0.0"}
                      :https {:port 443}
                      :letsencrypt {:domain "test.crbclean.com"
                                    :email "webadmin@crbclean.com"
                                        ;:force-renewal true ; to test renewal
                                    }}}




;
  }}


